.rouge{
    border-style: solid;
    border-width: 2px;
    border-color:red;
    color:red;
    
}
.vert{
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.blanc{
    border-style: solid;
    border-width: 1px;
    border-color:lightblue
}
.description{
    font-style: italic;
}
.trouve{
    display: block;
    width: 100%;
    text-align: center;
}